SERVER_PORT="8080"
ENVIRONMENT="development"
DB_CONNECTION_STRING="data/sqlite.db"
DB_ENGINE="sqlite3"
LOG_DIR="logs"
TMP_DIR="tmp"
GOOGLE_APPLICATION_CREDENTIALS=""
GOOGLE_CLIENT_ID=""
GCS_PROJECT_ID=""
JWT_SECRET=""
