package templates

import "fmt"

templ ListFiles(thumbnailIDs []string) {
	<html>
		<head>
			<title>All Files</title>
		</head>
		<body>
			<div>
				for _, id := range thumbnailIDs {
					img src= { templ.URL(fmt.Sprintf("files/%s", id)) }
				}
			</div>
		</body>
	</html>
}
