    <!-- Popover/Modal Structure -->
    <div
      x-show="showPopover"
      class="fixed inset-0 bg-opacity-75 flex items-center justify-center z-50"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="transition ease-in duration-200"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
    >
      <div
        class="bg-white p-4 rounded-lg shadow-lg max-w-3xl max-h-full overflow-auto relative"
      >
        <button
          @click="showPopover = false; selectedFile = {}"
          class="absolute top-4 right-4 text-gray-600 hover:text-gray-900 text-2xl"
        >
          &times;
        </button>
        <template
          x-if="selectedFile.type && selectedFile.type.startsWith('image/')"
        >
          <div>
            <img
              :src="`/api/files/${selectedFile.id}`"
              :alt="selectedFile.name"
              class="max-w-full h-auto"
            />
            <div class="grid grid-cols-3">
              <table>
                <td x-text="selectedFile.name"></td>
                <td x-text="selectedFile.size"></td>
              </table>
              <div class="flex justify-end mb-4">
                <a
                  :href="`/api/files/${selectedFile.id}`"
                  :download="selectedFile.name"
                  class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                >
                  Download
                </a>
              </div>
              <div>
                <button
                  @click="fullscreenImageUrl = '/api/files/' + selectedFile.id; showFullscreenImage = true; showPopover = false"
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                >
                  Expand Image
                </button>
              </div>
            </div>
          </div>
        </template>
        <template
          x-if="selectedFile.type && selectedFile.type.startsWith('video/')"
        >
          <video
            controls
            :src="`/api/files/${selectedFile.id}`"
            class="max-w-full h-auto"
          ></video>
        </template>
        <template
          x-if="!selectedFile.type || (!selectedFile.type.startsWith('image/') && !selectedFile.type.startsWith('video/'))"
        >
          <p>
            Preview not available for this file type:
            <span x-text="selectedFile.type"></span>
          </p>
        </template>
      </div>
    </div>